.card {
  margin: 10px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 10px 18px -9px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.card:hover {
  transform: scale(1.05);
}

.card > img {
  object-fit: fill;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
  border-bottom: 3px solid lightgray;
}

.card__info {
  padding: 20px;
  border: 1;
}

.card__info > h2 {
  margin-bottom: 10px;
}

.card__info > h4 {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 10px;
}
